@import "../../variables.scss";

footer {
  background: $base-dark;
  display: flex;
  justify-content: center;
  padding: 100px;

  .footer-wrap {
    max-width: $max-width;

    img {
      width: 13rem;
    }
  }
}