.mat-column-name{
  flex: 0 0 11%;
  justify-content: center;
}

.mat-column-affiliation{
  flex: 0 0 11%;
  justify-content: center;
}

.mat-column-place{
  flex: 0 0 11%;
  justify-content: center;
}

.expertise-header{
  justify-content: center;
}


