<div class="table-container">
  <mat-table [dataSource]="hazards" class="search-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Place </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.place}} </mat-cell>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
      <mat-cell class="start-column" *matCellDef="let row"> {{row.startDate}} </mat-cell>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.endDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="hazardColumns"></mat-header-row>
    <mat-row class="results-row" *matRowDef="let row; columns: hazardColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="paginator" #paginator [pageSize]="pageSize" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true" [length]="totalSize"
  [pageIndex]="currentPage">
  </mat-paginator>
</div>
