.mat-column-name {
  margin-right: 1rem;
  flex: 0 0 20%;
  font-size: 1rem;
}

.mat-column-type {
  flex: 0 0 20%;
  justify-content: center;
  margin-right: 1rem;
  font-size: 1rem;
}

.mat-column-place {
  flex: 0 0 15%;
  justify-content: center;
  margin-right: 1rem;
  font-size: 1rem;
}

.mat-column-startDate {
  justify-content: center;
  flex: 0 0 15%;
  font-size: 1rem;
}

.mat-column-endDate {
  justify-content: center;
  flex: 0 0 18%;
  padding-right: 0;
  font-size: 1rem;
}

.hazard-header {
  justify-content: center;
}

// Highlight rows on hover
tr.results-row:hover {
  background: #777;
}

mat-cell > span.overflow-cell {
  word-wrap: break-word;
}
