.mat-column-name {
  margin-right: 1rem;
  width: 5rem;
  font-size: 1rem;
}

.mat-column-type {
  width: 3rem;
}

.mat-column-place {
  width: 3rem;
}

// Highlight rows on hover
tr.results-row:hover {
  background: #777;
}

mat-cell > span.overflow-cell {
  word-wrap: break-word;
}
