.mat-column-name {
  margin-right: 1rem;
  width: 9rem;
  font-size: 1rem;
}

.mat-column-type {
  width: 3rem;
  justify-content: center;
}

.mat-column-place {
  // width: 2rem;
  flex: 0 0 10%;
  justify-content: center;
}

.mat-column-startDate,
.mat-column-endDate{
  justify-content: center;
}

.hazard-header{
  justify-content: center;
}

// Highlight rows on hover
tr.results-row:hover {
  background: #777;
}

mat-cell > span.overflow-cell {
  word-wrap: break-word;
}
