<div class="container" id="fr-place">
    <div class="top-side" id="top-map"></div>
    <div class="bottom-side">
        <div id="bottom-left-side">
            <ul class="attributes">
                <li class="attr" id="rdf-type-place">rdf:type</li>
                <li class="attr" id="rdf-label-place">rdfs:label</li>
                <li class="attr" id="geometry-place">Geometry</li>
                <li class="attr" id="locatedat-place">Located At</li>
            </ul>
        </div>
        <div id="bottom-right-side">
            <ul class="values">
                <li class="val" id="rdf-type-val-place">
                    <a href="#">City</a>
                </li>
                <li class="val" id="rdf-label-val-place">
                    <span>Albuquerque</span>
                </li>
                <li class="val" id="geometry-val-place">
                    <span><a href="#">kwgr:geometry.Albuquerque</a></span>
                </li>
                <li class="val" id="locatedAt-place">
                    <span><a href="#">University of New Mexico</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>