@import "../../../node_modules/leaflet/dist/leaflet.css";

.map-frame {
  // border: 2px solid black;
  border: none;
  height: 100%;
}

#map {
  height: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}
