<section class="landing">
  <div class="left">
    <a href="../"><img src="../assets/images/svgs/logo-main.svg" alt="Know Where Graph Logo"/></a>
  </div>
  <div class="right" id="menuToggle">
      <input type="checkbox" />

    <ul class="nav" id="menu">
      <li class="active nav-item"> <a class="nav-link" id="about" href="../about/">About</a></li>
      <li class="nav-item"> <a class="nav-link" id="explore" href="../explore/">Explore</a></li>
      <li class="nav-item"> <a class="nav-link" id="search" href="../search/">Search</a></li>
    </ul>
  </div>
</section>
