<header>
    <div class="container">
        <div class="nav-path">
            <ul id="breadcrumb-list" class="breadcrumb">
                <!--                <li><a href="" id="curr_page"></a></li>-->
            </ul>
        </div>
        <h1 id="breadcrumb-header"></h1>
    </div>
</header>


<main class="spatial-search" ng-controller="spatialSearchController">
    <div class="left-filters" ng-controller="filters-controller">

        <!-- search input box -->
        <div class="search-dropdown-input">
            <div class="input-group">
                <label for="keyword">Keyword Search</label>
                <input ng-model="inputQuery" ng-change=onKeywordChange() class="form-control" id="keyword" placeholder="Enter your query" />
                <div class="input-group-append">
                    <button id="input-query-submit" class="btn btn-outline-secondary" type="button" ng-click="keywordSubmit($event)">Search</button>
                </div>
            </div>

            <div class="spatial-search">
                <button id="spatial-query" type="button" class="btn" data-toggle="button" ng-click="spatialSearchDraw()">
                    <div>
                        <i class="bi bi-geo-alt"></i><span>Start a Spatial Search</span>
                    </div>
                </button>
            </div>
        </div>

        <!-- options for filters -->
        <ul class="filters">

            <li id="place" ng-show="showPlaceList">
                <p class="filter-title">PLACE</p>
                <div class="filter">
                    <div>Administrative Region</div>
                    <input autocomplete="true" type="text" class="form-control" id="placeFacetsRegion" ng-model="placeFacetsRegion" ng-enter="placeFacetChanged()" placeholder="Find an Administrative Region...">
                    <div>Zip Code</div>
                    <input autocomplete="true" type="text" class="form-control" id="placeFacetsZip" ng-model="placeFacetsZip" ng-enter="placeFacetChanged()" placeholder="Find a Zip Code...">
                    <div>US Climate Division</div>
                    <input autocomplete="true" type="text" class="form-control" id="placeFacetsUSCD" ng-model="placeFacetsUSCD" ng-enter="placeFacetChanged()" placeholder="Find a US Climate Division...">
                    <div>National Weather Zone</div>
                    <input autocomplete="true" type="text" class="form-control" id="placeFacetsNWZ" ng-model="placeFacetsNWZ" ng-enter="placeFacetChanged()" placeholder="Find a National Weather Zone...">
                </div>
            </li>

            <li id="hazard" ng-show="showHazardList">
                <p class="filter-title">PLACE</p>
                <div class="filter">
                    <ul class="list-group checkbox-list" id="region-list">
                        <section ng-repeat="(a1, a1obj) in administrativeRegions['regions']">
                            <li class="ng-binding ng-scope">
                                {{a1obj['label']}}
                                <img src="images/dropdown.svg" ng-click="showSubList($event)"/>
                            </li>
                            <ul class="list-group list-group-indented" style="display: none">
                                <section ng-repeat="(a2, a2obj) in a1obj['sub_admin_regions']">
                                    <li>
                                        <input id="{{a2}}" type="checkbox" class="form-check-input me-1" ng-click="selectRegion()" value="{{a2}}" name="region">
                                        {{a2obj['label']}}
                                        <img src="images/dropdown.svg" ng-click="showSubList($event)"/>
                                    </li>
                                    <ul class="list-group list-group-indented" style="display: none">
                                        <li ng-repeat="(a3, a3obj) in a2obj['sub_admin_regions']">
                                            <input id="{{a3}}" type="checkbox" class="form-check-input me-1" ng-click="selectRegion()" value="{{a3}}" name="region">
                                            {{a3obj['label']}}
                                        </li>
                                    </ul>
                                </section>
                            </ul>
                        </section>
                        <div>Zip Code</div>
                        <input autocomplete="true" type="text" class="form-control" id="regionFacetsZip" ng-model="placeFacetsZip" ng-enter="placeFacetChanged()" placeholder="Search by Zip Code...">
                        <div>US Climate Division</div>
                        <input autocomplete="true" type="text" class="form-control" id="regionFacetsUSCD" ng-model="placeFacetsUSCD" ng-enter="placeFacetChanged()" placeholder="Search by US Climate Division...">
                        <div>National Weather Zone</div>
                        <input autocomplete="true" type="text" class="form-control" id="regionFacetsNWZ" ng-model="placeFacetsNWZ" ng-enter="placeFacetChanged()" placeholder="Search by National Weather Zone...">
                    </ul>
                </div>
                <br/>
                <p class="filter-title">HAZARD</p>
                <div class="filter">
                    <div>Date Start</div>
                    <input type="date" class="form-control" id="hazardFacetDateStart" ng-model="hazardFacetDateStart" ng-enter="hazardFacetChanged()">
                    <div>Date End</div>
                    <input type="date" class="form-control" id="hazardFacetDateEnd" ng-model="hazardFacetDateEnd" ng-enter="hazardFacetChanged()">
                    <div>Hazard Type(s)</div>
                    <ul class="list-group checkbox-list" id="hazard-list">
                        <li ng-repeat="hazardUrl in hazardUrls['hazards']">
                            <input id="{{hazardUrl['hazard_type_name']}}" type="checkbox" class="form-check-input me-1" ng-click="selectHazard($event)" value="{{hazardUrl['hazard_type_name']}}" name="hazard"> {{hazardUrl['hazard_type_name']}}
                        </li>
                        <li class="ng-binding ng-scope">
                            <input id="Fire" type="checkbox" class="form-check-input me-1" ng-click="selectSubList($event, 'selectHazard')" value="FireEvent"> Fire
                            <img src="images/dropdown.svg" ng-click="showSubList($event)" />
                        </li>
                        <ul class="list-group list-group-indented" style="display: none">
                            <li ng-repeat="hazardUrlFire in hazardUrls['fires']">
                                <input id="{{hazardUrlFire['hazard_type_name']}}" type="checkbox" class="form-check-input me-1" ng-click="selectHazard($event)" value="{{hazardUrlFire['hazard_type_name']}}" name="hazard"> {{hazardUrlFire['hazard_type_name']}}
                            </li>
                        </ul>
                        <li ng-repeat="hazardUrl in hazardUrls['hurricanes']">
                            <input id="{{hazardUrl['hazard_type_name']}}" type="checkbox" class="form-check-input me-1" ng-click="selectHazard($event)" value="{{hazardUrl['hazard_type_name']}}" name="hazard"> {{hazardUrl['hazard_type_name']}}
                        </li>
                    </ul>
                    <section ng-show="earthquakeFacets">
                        <div>Earthquake: Magnitude (min)</div>
                        <input type="number" class="form-control" id="hazardFacetMagnitudeMin" ng-model="hazardFacetMagnitudeMin" ng-enter="hazardFacetChanged()" min="0" placeholder="Enter minimum magnitude...">
                        <div>Earthquake: Magnitude (max)</div>
                        <input type="number" class="form-control" id="hazardFacetMagnitudeMax" ng-model="hazardFacetMagnitudeMax" ng-enter="hazardFacetChanged()" max="8" placeholder="Enter maximum magnitude...">
                        <div>Earthquake: Depth (min)</div>
                        <input type="number" class="form-control" id="hazardQuakeDepthMin" ng-model="hazardQuakeDepthMin" ng-enter="hazardFacetChanged()" placeholder="Enter minimum depth...">
                        <div>Earthquake: Depth (max)</div>
                        <input type="number" class="form-control" id="hazardQuakeDepthMax" ng-model="hazardQuakeDepthMax" ng-enter="hazardFacetChanged()" placeholder="Enter maximum depth...">
                    </section>
                    <section ng-show="fireFacets">
                        <!-- Fire Cause -->
                        <div>Fire: Number of Acres Burned (min)</div>
                        <input type="number" class="form-control" id="hazardFacetAcresBurnedMin" ng-model="hazardFacetAcresBurnedMin" ng-enter="hazardFacetChanged()" min="0" placeholder="Enter minimum acres...">
                        <div>Fire: Number of Acres Burned (max)</div>
                        <input type="number" class="form-control" id="hazardFacetAcresBurnedMax" ng-model="hazardFacetAcresBurnedMax" ng-enter="hazardFacetChanged()" placeholder="Enter maximum acres...">
                        <div>Fire: Mean dNBR (min)</div>
                        <input type="number" class="form-control" id="hazardFacetMeanDnbrMin" ng-model="hazardFacetMeanDnbrMin" ng-enter="hazardFacetChanged()" min="-9999" placeholder="Enter minimum mean Dnbr...">
                        <div>Fire: Mean dNBR (max)</div>
                        <input type="number" class="form-control" id="hazardFacetMeanDnbrMax" ng-model="hazardFacetMeanDnbrMax" ng-enter="hazardFacetChanged()" placeholder="Enter maximum mean Dnbr...">
                        <div>Fire: Standard Deviation of Mean dNBR (min)</div>
                        <input type="number" class="form-control" id="hazardFacetSDMeanDnbrMin" ng-model="hazardFacetSDMeanDnbrMin" ng-enter="hazardFacetChanged()" min="-9999" placeholder="Enter minimum standard deviation...">
                        <div>Fire: Standard Deviation of Mean dNBR (max)</div>
                        <input type="number" class="form-control" id="hazardFacetSDMeanDnbrMax" ng-model="hazardFacetSDMeanDnbrMax" ng-enter="hazardFacetChanged()" placeholder="Enter maximum standard deviation...">
                    </section>
                </div>
            </li>
            <li id="expertise" ng-show="showExpertiseList">
                <p class="filter-title">EXPERTISE</p>
                <div class="filter">
                    <div>Expert Topic(s)</div>
                    <ul class="list-group checkbox-list" id="expert-list">
                        <section ng-repeat="expertTopic in expertTopics['topics']">
                            <li class="ng-binding ng-scope">
                                <input id="{{expertTopic['expert_topic']}}" type="checkbox" class="form-check-input me-1" ng-click="selectSubList($event, 'selectTopic')"> {{expertTopic['expert_label']}}
                                <img src="images/dropdown.svg" ng-click="showSubList($event)" />
                            </li>
                            <ul class="list-group list-group-indented" style="display: none">
                                <li ng-repeat="expertSubTopic in expertTopic['expert_subtopic']">
                                    <input id="{{expertTopic['expert_topic']+'_'+expertSubTopic}}" type="checkbox" class="form-check-input me-1" ng-click="selectTopic()" value="{{expertSubTopic}}" name="expert"> {{expertTopic['expert_sublabel'][$index]}}
                                </li>
                            </ul>
                        </section>
                    </ul>
                </div>
                <br/>
            </li>
        </ul>
    </div>
    <div class="results" ng-controller="results-controller">
        <div class="results-container">
            <div class="results-count">
                <p id="ttl-results"></p>
                <p id="sort-by">Sort By <i class="bi bi-chevron-down"></i></p>
            </div>
            <div class="results-nav">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">

                    <li class="nav-item" role="presentation" ng-show="showPlaceTab">
                        <button class="btn active" id="pills-place-tab" ng-click="clickTab($event, 'place')" data-bs-toggle="pill" data-bs-target="#pills-place" type="button" role="tab" aria-controls="pills-place" aria-selected="true">
                            <span><img src="../images/place.svg" alt=""> Place</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" ng-show="showHazardTab">
                        <button class="btn" id="pills-hazard-tab" ng-click="clickTab($event, 'hazard')" data-bs-toggle="pill" data-bs-target="#pills-hazard" type="button" role="tab" aria-controls="pills-hazard" aria-selected="false">
                            <span><img src="../images/hazard.svg" alt=""> Hazard</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" ng-show="showPeopleTab">
                        <button class="btn" id="pills-people-tab" ng-click="clickTab($event, 'people')" data-bs-toggle="pill" data-bs-target="#pills-people" type="button" role="tab" aria-controls="pills-people" aria-selected="false">
                            <span><img src="../images/people.svg" alt=""> People</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="results-table">

                <div class="tab-content table-container table-responsive" id="pills-tabContent">
                    <!-- People table -->
                    <div class="tab-pane fade" id="pills-people" role="tabpanel" aria-labelledby="pills-people-tab">
                        <table id="expertTableTitle" class="table table-filters table-title">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                        <div id="expertTable-body" class="table-body-container">
                            <table id="expertTable" class="table table-filters table-body table-hover">
                                <tbody id="ExpertTableBody"></tbody>
                            </table>
                        </div>
                        <div class="paginate" id="expertPagination"></div>
                    </div>

                    <!-- Place table -->
                    <div class="tab-pane fade active show" id="pills-place" role="tabpanel" aria-labelledby="pills-place-tab">
                        <table id="placeTableTitle" class="table table-filters table-title">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                        <div id="placeTable-body" class="table-body-container">

                            <table id="placeTable" class="table table-filters table-body table-hover">

                                <tbody id="placeTableBody"></tbody>
                            </table>
                        </div>
                        <!-- <ul class="pagination" id="placePagination"></ul> -->
                        <div class="paginate" id="placePagination"></div>
                    </div>

                    <!-- hazard table -->
                    <div class="tab-pane" id="pills-hazard" role="tabpanel" aria-labelledby="pills-hazard-tab">
                        <table id="hazardTableTitle" class="table table-filters table-title">

                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                        <div id="hazardTable-body" class="table-body-container">

                            <table id="hazardTable" class="table table-filters table-body table-hover">

                                <tbody id="hazardTableBody"></tbody>
                            </table>
                        </div>
                        <div class="paginate" id="hazardPagination"></div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="map" id="results-search-map" ng-controller="spatialmap-controller"></div>

</main>