<header>
    <div class="container">
        <div class="nav-path">
            <ul id="breadcrumb-list" class="breadcrumb">
<!--                <li><a href="" id="curr_page"></a></li>-->
            </ul>
        </div>
        <h1 id="breadcrumb-header"></h1>
    </div>
</header>


<main class="spatial-search" ng-controller="spatialSearchController">
    <div class="left-filters" ng-controller="filters-controller">

        <!-- search input box -->
        <div class="search-dropdown-input">
            <div class="input-group">
                <input ng-model="inputQuery" ng-change=onKeywordChange() class="form-control" placeholder="Enter your query"/>
                <div class="input-group-append">
                    <button id="input-query-submit" class="btn btn-outline-secondary" type="button" ng-click="keywordSubmit($event)">Search</button>
                </div>
            </div>

            <div class="spatial-search">
                <button id="spatial-query" type="button" class="btn" data-toggle="button" ng-click="spatialSearchDraw()">
                    <div>
                        <i class="bi bi-geo-alt"></i><span>Start a Spatial Search</span>
                    </div>
                </button>
            </div>
        </div>

        <!-- options for filters -->
        <ul class="filters">

            <li id="place" ng-show="showPlaceList">
                <p class="filter-title">PLACE</p>
                <div class="filter">
                    <!-- part1 -->
                    <!-- <p class="filter-type">rdf:type <i class="bi bi-chevron-up"></i></p> -->

                    <!-- part2: add div for dynamically showing the selected item -->
                    <!-- <div class="selectedItem" ng-show="showSelectedPlace">
                        <input type="checkbox" class="form-check-input me-1" ng-model="checkedPlace" ng-click="unselectPlace()"> <span>{{selectedPlace}}</span>
                        <p>Sub-Topic
                            <i class="bi bi-chevron-up"></i>
                        </p>
                    </div> -->

                    <!-- part2 -->
                    <input type="text" class="form-control" placeholder="Find a filter">
                    <!-- part3 -->
                    <ul class="list-group" id="place-list">

                        <li ng-repeat="placeSupertopicUrl in placeSupertopicUrls">
                            <span><input id="{{getPlaceLabel(placeSupertopicUrl).replaceAll(' ','_');}}" type="checkbox" class="form-check-input me-1" value="{{placeSupertopicUrl}}" name="placeTopic" ng-click="selectPlaceSupertopic($event)">{{getPlaceLabel(placeSupertopicUrl)}}</span>
                        </li>

                        <!-- <li ng-repeat="placeSupertopicUrl in placeSupertopicsUrls" ng-show="placesTopicShow">
                            <span><input type="checkbox" class="form-check-input me-1"
                                    ng-click="selectPlace($event)" value="{{placeSupertopicUrl}}" name="placeTopic">{{getPlaceLabel(placeSupertopicUrl)}}</span>
                        </li>
                        <li ng-repeat="subPlace in subPlaces" ng-show="placeSubtopicShow">
                            <input type="checkbox" class="form-check-input me-1" value="{{subPlace}}" name="subplace"> {{getSubplaceLabel(subPlace)}}
                        </li> -->

                    </ul>
                </div>
            </li>

            <li id="hazard" ng-show="showHazardList">
                <p class="filter-title">HAZARD</p>
                <div class="filter">

                    <input type="text" class="form-control" placeholder="Find a filter">

                    <!-- part3 -->
                    <ul class="list-group" id="hazard-list">
                        <!-- <li ng-repeat="hazard in hazards">
                            <span><input type="checkbox" class="form-check-input me-1" value="{{hazard}}" name="hazard">
                                {{hazard}}</span>
                        </li> -->
                        <li ng-repeat="hazardUrl in hazardUrls">
                            <span><input id="{{getHazardLabel(hazardUrl).replaceAll(' ','_');}}" type="checkbox" class="form-check-input me-1"
                                    ng-click="selectHazard($event)" value="{{hazardUrl}}" name="hazard">{{getHazardLabel(hazardUrl)}}</span>
                        </li>
                    </ul>

                </div>
            </li>
            <li id="expertise" ng-show="showExpertiseList">
                <p class="filter-title">EXPERTISE</p>
                <div class="filter">
                    <!-- part1 -->
                    <!-- <p class="filter-type">rdf:type <i class="bi bi-chevron-up"></i></p> -->

                    <!-- part2: add div for dynamically showing selected item -->
                    <div class="selectedItem" ng-show="showSelectedExpertise">
                        <input type="checkbox" class="form-check-input me-1" ng-checked="checkedExpertise" ng-click="unselectExpertise()"> <span>{{selectedExpertise}}</span>
                        <p>kwg-ont:subTopic
                            <i class="bi bi-chevron-up"></i>
                        </p>
                    </div>

                    <!-- part3 -->
                    <input type="text" class="form-control" placeholder="Find a filter">

                    <!-- part4 -->
                    <ul class="list-group" id="expertise-list">

                        <li ng-repeat="expertiseSupertopicUrl in expertiseSupertopicUrls" ng-show="expertiseTopicShow">
                            <span><input id="{{getExpertiseLabel(expertiseSupertopicUrl).replaceAll(' ','_');}}" type="checkbox" class="form-check-input me-1"
                                    ng-click="selectExpertise($event)" value="{{expertiseSupertopicUrl}}" name="expertiseSuperTopic">{{getExpertiseLabel(expertiseSupertopicUrl)}}</span>
                        </li>
                        <li ng-repeat="expertiseSubtopic in expertiseSubtopics" ng-show="expertiseSubtopicShow">
                            <input id="{{getSubtopicLabel(expertiseSubtopic).replaceAll(' ','_');}}" type="checkbox" class="form-check-input me-1" value="{{expertiseSubtopic}}" name="expertiseSubtopic" ng-click="selectSubTopic($event)"> {{getSubtopicLabel(expertiseSubtopic)}}
                        </li>
                        <!-- <li ng-repeat="subtopic in expertiseSubtopics" ng-show="expertiseSubtopicShow">
                            <input type="checkbox" class="form-check-input me-1" value="{{subtopic}}" name="expertiseSubtopic"> {{subtopic}}
                        </li> -->
                    </ul>
                </div>
            </li>

            <li id="datarange-li">
                <p class="filter-title" id="data-range">Date Range</p>
                <form class="data-range-form">
                    <!-- <input type="text" class="form-control mb-1" id="start-year-input" placeholder="Start Year" name="start-year">
                    <input type="text" class="form-control mb-1" id="end-year-input" placeholder="End Year" name="end-year"> -->
                    <input type="text" class="form-control mb-1" name="daterange" value="01/01/2020 - 12/15/2021">

                    <!-- <button type="submit" class="btn btn-primary mb-2" onclick="getData()">Search</button> -->
                </form>
            </li>


        </ul>
    </div>
    <div class="results" ng-controller="results-controller">
        <div class="results-container">
            <div class="results-count">
                <p id="ttl-results"><span>{{totalResultsNumber}}</span>Results</p>
                <p id="sort-by">Sort By <i class="bi bi-chevron-down"></i></p>
                <p id="cnfg-tb">Configure Table Columns</p>
            </div>
            <div class="results-nav">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">

                    <li class="nav-item" role="presentation" ng-show="showPlaceTab">
                        <button class="btn active" id="pills-place-tab" ng-click="clickTab($event)" data-bs-toggle="pill" data-bs-target="#pills-place" type="button" role="tab" aria-controls="pills-place" aria-selected="true">
                            <span><img src="../images/Place.svg" alt=""> Place</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" ng-show="showHazardTab">
                        <button class="btn" id="pills-hazard-tab" ng-click="clickTab($event)" data-bs-toggle="pill" data-bs-target="#pills-hazard" type="button" role="tab" aria-controls="pills-hazard" aria-selected="false">
                            <span><img src="../images/hazard.svg" alt=""> Hazard</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" ng-show="showPeopleTab">
                        <button class="btn" id="pills-people-tab" ng-click="clickTab($event)" data-bs-toggle="pill" data-bs-target="#pills-people" type="button" role="tab" aria-controls="pills-people" aria-selected="false">
                            <span><img src="../images/people.svg" alt=""> People</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="results-table">

                <div class="tab-content table-container table-responsive" id="pills-tabContent">
                    <!-- People table -->
                    <div class="tab-pane fade" id="pills-people" role="tabpanel" aria-labelledby="pills-people-tab">
                        <table id="expertTableTitle" class="table table-filters table-title">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                        <div id="expertTable-body" class="table-body-container">
                            <table id="expertTableBody" class="table table-filters table-body table-hover">
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="paginate" id="expertPagination"></div>
                    </div>

                    <!-- Place table -->
                    <div class="tab-pane fade active show" id="pills-place" role="tabpanel" aria-labelledby="pills-place-tab">
                        <table id="placeTableTitle" class="table table-filters table-title">
                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                        <div id="placeTable-body" class="table-body-container">

                            <table id="placeTableBody" class="table table-filters table-body table-hover">

                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- <ul class="pagination" id="placePagination"></ul> -->
                        <div class="paginate" id="placePagination"></div>
                    </div>

                    <!-- hazard table -->
                    <div class="tab-pane" id="pills-hazard" role="tabpanel" aria-labelledby="pills-hazard-tab">
                        <table id="hazardTableTitle" class="table table-filters table-title">

                            <thead>
                                <tr></tr>
                            </thead>
                        </table>
                        <div id="hazardTable-body" class="table-body-container">

                            <table id="hazardTableBody" class="table table-filters table-body table-hover">

                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="paginate" id="hazardPagination"></div>

                    </div>

                </div>
                <!-- <div class="rlts-pagination" ng-controller="pagination-controller as vm">
                    <div class="per-page"><span>12</span> Per Page
                        <i class="bi bi-chevron-down"></i>
                            </div>


                            <ul class="pagination">
                                <li class="page-item active" ng-click="clickPage(1)"><a class="pg-link">1</a></li>
                                <li class="page-item" ng-click="clickPage(2)"><a class="pg-link">2</a></li>
                                <li class="page-item" ng-click="clickPage(3)"><a class="pg-link">3</a></li>
                                <li class="page-item" ng-click="clickPage(4)"><a class="pg-link">4</a></li>
                                <li class="page-item" ng-click="clickPage(5)"><a class="pg-link">5</a></li>
                                <li class="page-item"><a class="pg-link">...</a></li>
                                <li class="page-item" ng-click="clickPage(7)"><a class="pg-link">310</a></li>
                                <li><button id="nxt-pg">Next</button></li>
                            </ul>


                    </div> -->

            </div>
        </div>

    </div>

    <div class="map" id="results-search-map" ng-controller="spatialmap-controller"></div>

</main>