<link rel="stylesheet" href="../css/faceted_spatialSearch.css">
<header>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <style>
        header {
            background-image: url('../images/faceted-header-bg.png');
            background-repeat: repeat-x;
            position: relative;
        }
    </style>
    <div class="container">
        <div class="nav-path">
            <ul id="explore-expertise1" class="breadcrumb">
                <li><a href="">Explore </a></li>
                <li><a href="">Expertise Topic Groups </a></li>
                <li><a href="">Diseases </a></li>
                <li><a href="">Covid-19 </a></li>
                <li><a href="" id="curr_page">Alejandro Feged</a></li>
            </ul>
        </div>
        <h1>Spatial Search</h1>
    </div>
</header>

<main class="spatial-search" id="faceted-spatial-search" ng-controller="spatialSearchController">
    <div class="left-filters" ng-controller="filters-controller">

        <!-- search input box -->
        <div class="search-dropdown-input">
            <div class="input-group">
                <input id="input-query" type="text" class="form-control" placeholder="Enter your query">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>

        <!-- options for filters -->
        <ul class="filters">

            <li id="place" ng-show="showPlaceList">
                <p class="filter-title">PLACE</p>
                <div class="filter">
                    <!-- part1 -->
                    <p class="filter-type">subClassOf <i class="bi bi-chevron-up"></i></p>

                    <!-- part2: add div for dynamically showing the selected item -->
                    <!-- <div class="selectedItem" ng-show="showSelectedPlace">
                        <input type="checkbox" class="form-check-input me-1" ng-model="checkedPlace" ng-click="unselectPlace()"> <span>{{selectedPlace}}</span>
                        <p>Sub-Topic
                            <i class="bi bi-chevron-up"></i>
                        </p>
                    </div> -->

                    <!-- part2 -->
                    <!-- <input type="text" class="form-control" placeholder="Find a filter"> -->
                    <!-- part3 -->
                    <ul class="list-group" id="place-list">
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">City</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">County</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Marine</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">NWS Zone</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">State</span>
                        </li>
                    </ul>
                </div>
            </li>


            <li ng-show="showPlaceList">
                <p class="filter-title">Air Quality<i class="bi bi-chevron-up"></i></p>
                <div class="filter">
                    <!-- part1 -->
                    <p class="filter-type">subClassOf<i class="bi bi-chevron-up"></i></p>

                    <!-- part2: add div for dynamically showing the selected item -->
                    <!-- <div class="selectedItem" ng-show="showSelectedPlace">
                        <input type="checkbox" class="form-check-input me-1" ng-model="checkedPlace" ng-click="unselectPlace()"> <span>{{selectedPlace}}</span>
                        <p>Sub-Topic
                            <i class="bi bi-chevron-up"></i>
                        </p>
                    </div> -->

                    <!-- part2 -->
                    <input type="text" class="form-control" placeholder="Find a filter">
                    <!-- part3 -->
                    <ul class="list-group" id="air-quality-list">
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Other Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Other Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Other Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Other Filter Option Title</span>
                        </li>
                        <li>
                            <span><input type="checkbox" class="form-check-input me-1">Filter Option Title</span>
                        </li>

                    </ul>

                </div>
            </li>
        </ul>
    </div>

    <div class="map" id="spatialSearch-map">
        <div class="drawing-des">Use the polygon tools below to draw an area to search within</div>
        <!-- <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary draw"><img src="../images/polygon.svg" alt="draw a polygon"></button>
            <button type="button" class="btn btn-secondary draw"><img src="../images/square.svg" alt="draw a square"></button>
            <button type="button" class="btn btn-secondary draw"><img src="../images/oval.svg" alt="draw an oval"></button>
        </div> -->
    </div>
    <script src="../js/spatial_search.js"></script>


</main>