doctype html
html(lang='en')
	head
		title LD Connect
		link(rel='stylesheet', type='text/css', href='/style/index.css')
		script(src='/script/index.js')
	body
		#banner IOS Press - LD Connect

		#intro
			h1 LD Connect by IOS Press
			p Browse our  datasets by viewing their linked resources in our frontend interface. All data are fetched directly from the SPARQL endpoint, all the magic happens in your browser!

		#demos
			h1 Examples
			.demo
				.title
					a(href='/browse/#iospress-organization:Publisher.IOS_Press') IOS Press
				.detail /browse/#iospress-organization:Publisher.IOS_Press
				.info Explore the dataset starting with the node for IOS Press as a Publisher.

		#contact
			a(href='#') blake [at] geog.ucsb.edu