<section class="welcome-kwg">
  <div class="blog card-section container">
    <h2 class="centered-header">Welcome To The Knowledge Explorer</h2>
    <p>
      With billions of data points at your fingertips, charting a path to a
      well-informed decision presents a navigational challenge. The Faceted
      Search Interface is a portal for exploring the KnowWhereGraph, a knowledge
      graph that integrates a wide range of environmental and human data.
      Whether supporting a humanitarian response following a hurricane or
      projecting supply-chain consequences of a wildfire, the Faceted Search
      Interface helps a user target and refine their investigation by exposing
      properties of the graph’s vast network of geographically referenced data.
    </p>
  </div>
  <a
    href="../../assets/docs/search-docs.pdf"
    target="_blank"
    class="button secondary"
    >Step by Step Examples</a
  >
</section>
<section class="explore">
  <h2 class="centered-header">Start Exploring</h2>
    <div class="card-group-home columns-3">
        <ng-container *ngFor="let card of cards">
          <a class="card-link" href="/search?tab={{card.tab}}">
            <div class="card-explore">
              <div class="card-body">
                <p class="card-title">{{card.name}}</p>
              </div>
            </div>
          </a>
        </ng-container>
      </div>
</section>
