@import '../../variables.scss';

.welcome-kwg {
  background-color: #d9d9de;
  z-index: -1;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;
  color: #212529;

  h2 {
    margin-top: 0;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 50px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

// buttons for learn more
.button.secondary {
  background-color: #252648;
}

.button {
  display: inline-block;
  // vertical-align: middle;
  line-height: 26px;
  padding: 12px 30px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  color: #fff;
}

.explore {
  background-color: #cfcfd5;

}

.centered-header {
  text-align: center;
  margin-bottom: 50px;
}

.card-group-home {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}


/* iPhone */ 
@media screen and (max-width : 799px) {
  .explore {
    padding: 70px 0 90px;
    text-align: center;

    // Width of the columns (size of the cards)
    //.columns-3 > * {
    //  width: 31%;
    //}
  
    .card-group-home {
      flex-direction: column;
    }

    .card-link {
      text-decoration: none;
      display: inline-block;
      padding-left: 10%;
      padding-right: 10%;
      margin-left: 0%;
    }

    .card-explore {
      background: #ffffff;
      box-shadow: 0 10px 64px 0 rgb(0, 0, 0, 0.2);
      border-radius: 5px;
      transition: all 0.2s ease;
      }
    .card-body {
      padding: 20px;
      .description {
        display: none;
      }
      :hover {
        .description {
          display:initial;
        }
      }
    }

    .card-title {
      color: #00021f;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 0;
      p {
        font-size: 1rem;
      }
    }
  }
}

/* Tablets, Desktops */
@media screen and (min-width : 800) {
  .explore {
    padding: 70px 0 90px;
    text-align: center;

    // Width of the columns (size of the cards)
    //.columns-3 > * {
    //  width: 31%;
    //}
  
    .card-group-home {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 40px;
    }

    .card-link {
      text-decoration: none;
      display: inline-block;
    }

    .card-body {
      padding: 20px;
      .description {
        display: none;
      }
      :hover {
        .description {
          display:initial;
        }
      }
    }
    .card-explore {
      background: #ffffff;
      box-shadow: 0 10px 64px 0 rgb(0, 0, 0, 0.2);
      border-radius: 5px;
      transition: all 0.2s ease;
     // text-align: center;
  }
    .card-title {
      color: #00021f;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 0;
      p {
        font-size: 1rem;
      }
    }
  }
}
