<section class="index-section welcome-kwg">
  <div class="blog card-section container">
    <h2>Welcome To The Knowledge Explorer</h2>
      <div class="left-image">
        <p>
          With billions of data points at your fingertips, charting a path to a
          well-informed decision presents a navigational challenge. The Faceted
          Search Interface is a portal for exploring KnowWhereGraph.
          Whether supporting a humanitarian response following a hurricane or
          projecting supply-chain consequences of a wildfire, the Knowledge
          Explorer helps navigate the graph’s vast network of geographically referenced data.
        </p>
    </div>
  </div>
</section>
<section class="index-section explore">
    <h2>Start Exploring</h2>
    <mat-tab-group>
      <ng-container *ngFor="let card of cards">
        <mat-tab label={{card.title}}>
          <div class="card-body">
            {{card.description}}
          </div>
        </mat-tab>
      </ng-container>
      </mat-tab-group>
</section>
<section class="index-section welcome-kwg">
  <a
  href="../../assets/docs/search-docs.pdf"
  target="_blank"
  class="button secondary"
  >Step by Step Examples</a
  >
</section>
<section class=" index-section explore workbench">
  <div class="workbench-rhs">
  <h2>Advanced Exploration</h2>
  KnowWhereGraph is backed by GraphDB and encourages advanced users to interact with the <a href="/workbench" >GraphDB Workbench</a>.
</div>
<div class="workbench-lhs">
  <img src="../../assets/images/graph-view.png">
</div>
</section>
