<section class="welcome-kwg">
    <div class="blog card-section container">
        <h2>Welcome To KnowWhereGraph</h2>
        <p>With billions of data points at your fingertips, charting a path to a well-informed decision presents a navigational challenge. The Faceted Search Interface is a portal for exploring the KnowWhereGraph, a knowledge graph that integrates a wide
            range of environmental and human data. Whether supporting a humanitarian response following a hurricane or projecting supply-chain consequences of a wildfire, the Faceted Search Interface helps a user target and refine their investigation
            by exposing properties of the graph’s vast network of geographically referenced data.</p>
    </div>
    <a href="#/about" class="button secondary">Learn More</a>
</section>
<section class="explore">
    <div class="container">
        <h2>Start Exploring</h2>
        <div class="container">
            <div class="card-group-home columns-3">
                <a href="#/result_search?tab=place">
                    <div class="card-explore">
                        <div class="card-body">
                            <p class="card-title">Place</p>
                        </div>
                    </div>
                </a>
                <a href="#/result_search?tab=hazard">
                    <div class="card-explore">
                        <div class="card-body">
                            <p class="card-title">Hazard</p>
                        </div>
                    </div>
                </a>
                <a href="#/result_search?tab=people">
                    <div class="card-explore">
                        <div class="card-body">
                            <p class="card-title">Expert</p>
                        </div>
                    </div>
                </a>
                <a href="#/result_search?tab=hazard&hazard=Wildfire">
                    <div class="card-explore">
                        <div class="card-body">
                            <p class="card-title">Wildfire</p>
                        </div>
                    </div>
                </a>
                <a href="#/result_search?tab=hazard&hazard=EarthquakeEvent">
                    <div class="card-explore">
                        <div class="card-body">
                            <p class="card-title">Earthquake</p>
                        </div>
                    </div>
                </a>
                <a href="#/result_search?tab=people&expert=hazardtopic.storm.aspecttopic.injury">
                    <div class="card-explore">
                        <div class="card-body">
                            <p class="card-title">Injury & Storms</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <a href="#/explore" class="button secondary">Explore More</a>
</section>
<section class="home-map">

    <div class="container" id="home-map-container">
        <app-map></app-map>
    </div>

</section>