<div class="browse-body">
    <div class="title"><a href={{full_node_id}}><mat-icon [inline]="true" class="browse-open-icon">open_in_new</mat-icon></a><p class="node-title">{{node_name}}</p></div>

<div class="map-body">
    <div class=""></div>
 <browser-map></browser-map>
</div>

<div class="outbound-relations">
  <table class="triples-table">
    <tr class= "predicates-row" *ngFor="let outbound_info of outbound_relations">
        <td class="predicate-td">
            <a *ngIf="outbound_info.predicate_label" class="pred-link" href="{{outbound_info.predicate_kwg_link}}" >{{outbound_info.predicate_label}}</a>
            <a *ngIf="!outbound_info.predicate_label" class="pred-link" href="{{outbound_info.predicate_kwg_link}}" >{{outbound_info.predicate_name}}</a>
            <a href="{{ outbound_info.predicate_link }}"><mat-icon [inline]="true" class="browse-open-icon table">open_in_new</mat-icon></a>
        </td>
        <td class="object-td">
            <tr class="object-tr" *ngFor="let outbound_relation of outbound_info.objects">
                <td>
                    <span *ngIf="outbound_relation.isPredicate" class="obj-literal">"{{outbound_relation.name}}"<span>{{outbound_relation.dataType}}</span></span>
                    <span *ngIf="!outbound_relation.isPredicate"><a class="obj-link" href="{{outbound_relation.localURI}}">{{outbound_relation.name}}</a><a href="{{outbound_relation.link}}"><mat-icon [inline]="true" class="browse-open-icon table">open_in_new</mat-icon></a></span>
                </td>
            </tr>
        </td>
    </tr>
  </table>
 </div>
</div>