.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-box {
  padding-top: 1rem;
}

.search-button {
  background-color: black;
  color: white;
  height: 2rem;
  width: 3rem;
}

.search-input {
  width: 70%;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  height: 2.5rem;
  outline: none;
}

.search-submit {
  height: 2.5rem;
  font-size: 14px;
  background: #00021F;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #FFF;
  cursor: pointer;
}

.facet {
  display: flex;
  flex-direction: column;
}

.scrollable-facet {
  max-height: 12rem;
  overflow-y: auto;
}

.hazard-facets {
  height: 30%;
  overflow: auto;
}
