.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-box {
  margin-top: 1rem;
}

.search-button {
  background-color: black;
  color: white;
  height: 2rem;
  width: 3rem;
}

.search-input {
  width: 70%;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  height: 2.5rem;
  outline: none;
}

.search-submit {
  height: 2.5rem;
  font-size: 14px;
  background: #00021F;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #FFF;
  cursor: pointer;
}

.facet {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.facet-input{
  height: 1.5rem;
  width: 100%;
}

.scrollable-facet {
  max-height: 12rem;
  overflow-y: auto;
}

.date-facet {
  width: 100%;
  height: 1.5rem;
}

input {
  border:0;
  outline:0;
  border-radius: 3px;
}

input:focus {
  outline:none!important;
}

.facet-head {
  opacity: 0.5;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.hazard-types {
  height: 15rem;
}

.expert-types {
  height: 70rem;
  overflow: auto;
}

.search-header {
  padding-bottom: 0.5rem;
}

.observation-collection {
  padding-top: 1rem;
}

.mat-form-field-flex {
  background: white;
}

.people-facets {
  padding-top: 1rem;
}

.place-facets {
  padding-top: 1rem;
}

.expert-facets {
  padding-top: 1rem;
}

 ::ng-deep .mat-form-field-flex {
  /*change color of label*/
  color: white !important;
 }
