@import "variables.scss";

// HTML styles used across all scss sheets
.html {
  height: 100%;
  overflow-x: hidden !important;
}

.body {
  background: $base-dark;
  box-sizing: border-box;
  font-family: Sans-Serif;
  color: #00021F;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  width: 100% !important;
  position: relative;
}

.a {
  text-decoration: none;
}

.sr-only {
  display: none;
}

.hide {
  display: none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-container {
  height: 100%;
}

.mat-row:nth-child(even) {
  background-color: $grey-light;
}

.mat-row:nth-child(even):hover {
  background-color: #c4c4cc;
}

.mat-row:nth-child(odd):hover {
  background-color: #ececec;
}

.mat-header-cell {
  font-size: large;
  color: black;
  box-shadow: solid black;
}

:host ::ng-deep .mat-tab-body-wrapper {
  display: flex;
  flex-direction: column;
}


.mat-cell {
  font-size: large;
}

.mat-row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.results-table {
  height: 80%;
  table-layout: fixed;
}

// adding more scss sheets for global setting
.container {
  max-width: 960px !important;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

<<<<<<< HEAD
.overflow-cell {
  a {
    text-decoration: none;
    color: #00021F;
  }
  a:hover {
    color: orange;
  }
}
<<<<<<< HEAD
=======
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
>>>>>>> 9313649f (Add autocompletion to the facets)
=======

.node-content-wrapper:hover {
  box-shadow: none;
  background: none;
}

.node-content-wrapper-focused {
  box-shadow: none;
  background: none;
}

mat-form-field-flex {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep .mat-datepicker-content .mat-calendar {
  width: 229px!important;
  height: 300px!important;
}
>>>>>>> 245963fb (Disable facet highlighting and make sure that all facets have events triggering)
