// Variables used across all scss sheets
$base-dark: #00021F;
$base-dark-transparent-50: rgba(0, 2, 31, 0.5);
$base-dark-transparent-20: rgba(0, 2, 31, 0.2);
$base-dark-alt: #252648;
$grey-darker: #A4A4AF;
$grey-dark: #CFCFD5;
$grey: #D8D8DD;
$grey-light: #F2F2F4;
$light: #FFF;
$accent: #42D6ED;
$accent-text: #2BA9BD;
$accent-text-hover: #2FB9CF;
$accent-text-transparent-20: #D9EDF1;
$accent-text-dark: #117F91;
$max-width: 900px;
$shadow-light: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
$transition-regular: all .2s ease-in-out;
//Spacing // Margin Padding
$spacing: (
  auto: auto,
  neg80: -80px !important,
  neg30: -30px !important,
  neg20: -20px !important,
  neg5: -5px !important,
  0: 0 !important,
  5: 5px !important,
  10: 10px !important,
  15: 15px !important,
  20: 20px !important,
  25: 25px !important,
  30: 30px !important,
  35: 35px !important,
  40: 40px !important,
  50: 50px !important,
  60: 60px !important,
  70: 70px !important,
  80: 80px !important,
  100: 100px !important,
  120: 120px !important,
  150: 150px !important
);
