// Variables used across all scss sheets
$base-dark: #00021f;
$grey-dark: #cfcfd5;
$grey: #d8d8dd;
$grey-light: #f2f2f4;
$light: #fff;
$accent: #42d6ed;
$max-width: 900px;
$shadow-light: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
$transition-regular: all 0.2s ease-in-out;
