// Variables used across all scss sheets
$base-dark: #00021F;
$grey-dark: #CFCFD5;
$grey: #D8D8DD;
$grey-light: #F2F2F4;
$light: #FFF;
$accent: #42D6ED;
$max-width: 900px;
$shadow-light: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
$transition-regular: all .2s ease-in-out;
