<body class="search-body">
  <!-- The left hand facets -->
  <app-facets [selectedTabIndex]="selectedTabIndex"></app-facets>
  <div class="results-body">
  <!-- The number of results from the last query -->
  <div *ngIf="!isCounting && isSearching">
    <p class="results-count">Searching <mat-spinner class="count-spinner" [diameter]="30"></mat-spinner></p>
  </div>

  <div *ngIf="isCounting && !isSearching">
    <p class="results-count">Counting Results <mat-spinner class="count-spinner" [diameter]="30"></mat-spinner></p>
  </div>

  <div *ngIf="!isCounting && !isSearching">
    <p class="results-count">{{totalSize}} Results</p>
  </div>

  <!-- The 'Place', 'Hazard', 'People' tab groups -->
  <mat-tab-group class="tab-group" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab class="place-tab-body">
      <ng-template mat-tab-label>
        <img class="table-head-img" src="../../assets/images/svgs/place.svg">
        <span>Place</span>
      </ng-template>
      <ng-template matTabContent>
        <app-places-table (resultsCountEvent)="changeResultsCount($event)" (searchQueryFinishedEvent)="searchQueryFinished()"></app-places-table>
        <p>test</p>
        <mat-paginator class="paginator" #paginator [pageSize]="pageSize" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage"></mat-paginator>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="table-head-img" src="../../assets/images/svgs/hazard.svg">
        <span>Hazard</span>
      </ng-template>
    <ng-template matTabContent>
      <app-hazards-table (resultsCountEvent)="changeResultsCount($event)" (searchQueryFinishedEvent)="searchQueryFinished()"></app-hazards-table>
    </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <img class="table-head-img" src="../../assets/images/svgs/people.svg">
        <span>People</span>
      </ng-template>
      <ng-template matTabContent>
        <app-people-table (resultsCountEvent)="changeResultsCount($event)" (searchQueryFinishedEvent)="searchQueryFinished()"></app-people-table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  </div>

  <!-- The map -->
  <div class="map-container">
    <app-map></app-map>
  </div>
</body>
