@import '../../variables.scss';

// Styling for the container that holds the facets, table, and map
.search-body {
  display: flex;
  background-color: #cfcfd5;
}

.facets {
  // Use padding so that the background color is included in the spacing
  padding-left: 2rem;
  padding-right: 2rem;
  background: #d8d8dd;
  // Don't let the facet selection area expand past 15% of available space
  min-width: 15%;
  max-width: 15%;
}

// Styling for the container that holds the results count, table, and paginator
.results-body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 40%;
  height: 80rem;
}

.tab-group {
  height: 100%;
  overflow: auto;
}

.results-count {
  display: flex;
  flex: 1;
  font-size: 2rem;
  margin-top: 0;
  height: 10%;
}

.table-container {
  height: 100%;
}

.mat-row:nth-child(even) {
  background-color: $grey-light;
}

.mat-header-cell {
  font-size: large;
  color: black;
  border-radius: 5px 5px 0 0;
  box-shadow: solid black;
  text-align: left;
}

// Rule fot the loading animation container
.mat-spinner {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

// Rule for the spinning semi-circle loading animation
:host ::ng-deep .count-spinner circle {
  stroke: black;
}

// The images on the table head
.table-head-img {
  margin-right: 0.2rem;
}

// The pagination bar
:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: normal !important;
  font-size: large;
}

.map-container {
  width: 45%;
  box-sizing: border-box;
}
