@import "../../variables.scss";

// Styling for the container that holds the facets, table, and map
.search-body {
  display: flex;
  background-color: #CFCFD5;
}

// Styling for the container that holds the results count, table, and paginator
.results-body {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 50%;
}

.tab-group {
  //overflow: scroll;
  height:100%;
}

.results-count {
  display: flex;
  flex: 1;
  font-size: 2rem;
  margin-bottom: 0.5em;
  height: 3rem;
}

.table-container {
  height: 100%;
}

.mat-row:nth-child(even){
  background-color: $grey-light;
}

.mat-header-cell {
  font-size: large;
  color: black;
  border-radius: 5px 5px 0 0;
  box-shadow: solid black;
  text-align: left;
}

// Rule fot the loading animation container
.mat-spinner {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

// Rule for the spinning semi-circle loading animation
:host ::ng-deep .count-spinner circle{
  stroke: black;
}

// The images on the table head
.table-head-img {
  padding-right: 0.2rem;
}

.map-container {
  min-width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
