#explore-container{
    position: absolute;
    display: block;
    height: 1600px;
    /* background-color:cadetblue; */
    padding: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    margin-top: 40px;
}

/* ****** 1- explore-topics ********* */

section.explore.explore-page:first-of-type {
    padding: 60px 30px 0;
}

section.explore.explore-page {
    padding: 60px 30px 0;
}

section.explore.explore-page:last-of-type {
    padding: 60px 30px 100px;
}

section.explore.explore-page h2 {
    margin-bottom: -10px;
}

.explore-topics{
    width: 100%;
    height: 20%;
    /* background-color: chartreuse; */
    padding-top: 30px;
}

.explore-topics .card-group,
.popular-sub-topics .card-group,
.featured-records .card-group
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: center;
}

.explore-topics .card-group .card{
    height: 200px;
    color: #00021F;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
    text-align: center;
}

div#explore-container a{
    text-decoration: none;
    color: #00021F;
}

div#explore-container a:visited{
    color: #00021F;
}

.explore-topics .card-group img{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}


.explore-topics .card-group .card,
.popular-sub-topics .card-group .card,
.featured-records .card-group .card{
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 64px 0 rgba(0, 0, 0, 0.05);
}



/* ******* popular sub topics ************ */
.popular-sub-topics{
    width: 100%;
    height: 25%;
    /* background-color: coral; */
    margin-top: 0px;
}

.popular-sub-topics .explore-title,
.featured-records .explore-title{
    margin-left: calc(10% - 60px)
}

.popular-sub-topics .card-group{
    margin-top: 50px;
}

.popular-sub-topics .card-group .card{
    height: 100px;
    margin-bottom: 40px;
}

.popular-sub-topics .card-body{
    padding: 20px;
}

.popular-sub-topics .card-body p{
    margin-bottom: 0px;
}


/* ***** featured-records ******** */
.featured-records{
    width: 100%;
    height: 35%;
    /* background-color: darkgoldenrod; */
    /* margin-top: 82px; */
}
.featured-records .card-group{
    margin-top: 50px;
}

.featured-records .card-group .card{
    margin-bottom: 40px;
}

.popular-sub-topics .card-group .card,
.featured-records .card-title{
    align-items: center;
    color: #00021F;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0;
}

.card-subtitle {
  color: #00021F;
  margin-top: 0 !important;
}

.featured-records .card-text{
    color: #00021F;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;

}
