main#results-filters {
    height: 1900px;
}


/* *******Left side menu******** */

div#lf-srch-menu {
    position: absolute;
    background-color: #D8D8DD;
    width: 25%;
    height: 100%;
    box-shadow: 10px 0 64px 0 rgba(0, 0, 0, 0.05);
}


/* 1. Start a Spatial Search */

div#lf-srch-menu div.search-dropdown-input {
    width: 80%;
    margin: auto;
    margin-top: 34px;
}

div#lf-srch-menu button#spatial-query {
    width: 100%;
    margin-top: 10px;
}


/* div#lf-srch-menu button#spatial-query i {
    line-height: 100%;
} */


/* 2. Multiple search options: expertise, place, hazard, people */

div.filters {
    width: 82%;
    margin: auto;
    margin-top: 40px;
}

div.filters>div {
    padding-bottom: 30px;
}


/* 2.1 search title - expertise, place, hazard, people */

div.filters p.srch-ttl {
    opacity: 0.5;
    color: #00021f;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 17px;
    margin-bottom: 15px;
}


/* 2.2 filter type: rdf:type, rdfs:subClassOf, and icons */

div.filters div.filter>p.filter-type,
div.filters div#data-range p,
.filters .filter div.selectedItem p {
    color: #00021f;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 23px;
    margin-bottom: 15px;
}

div.filters div.filter i.bi {
    padding-left: 7.4px;
}


/* 2.3 find a filter input box */

div.filters input.form-control {
    font-style: italic;
    opacity: 0.8;
    color: #00021f;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 16px;
}


/* 3.4 checkbox list */

div.filters ul.list-group {
    margin-top: 15px;
    padding-left: 0px;
    overflow-y: auto;
    color: #00021f;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    font-family: "Helvetica Neue";
}

div.filters ul.list-group li {
    padding-bottom: 10px;
}

div.filters ul.list-group li input {
    display: inline-block;
    margin: auto;
    margin-top: 2px;
}

div.filters ul#expertise-list,
div.filters ul#hazard-list,
div.filters ul#people-list {
    height: 300px;
}

div.filters ul#place-list {
    height: 150px;
}


/* 3.5 scrollbar style */

div.filters ul.list-group::-webkit-scrollbar,
div.table-box::-webkit-scrollbar {
    width: 5px;
    background-color: #D8D8DD;
}

div.filters ul.list-group::-webkit-scrollbar-thumb,
div.table-box::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0, 2, 31, 0.5);
}


/* 3.4.1 select one topic and display the subtopic */

div.filters div.filter div.selectedItem span {
    display: inline-block;
    color: #00021f;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    font-family: "Helvetica Neue";
}

.filters .filter div.selectedItem p {
    margin-top: 20px;
    margin-bottom: 16px;
}


/* 4. Data Range */

form.data-range-form {
    height: 40px;
}

input#start-year-input,
input#end-year-input {
    /* display: block; */
    width: 35%;
    float: left;
    height: 100%;
    margin-right: 10px;
}

div#data-range button,
button#nxt-pg {
    height: 100%;
    background-color: #00021F;
    color: #FFFFFF;
    border-radius: 5px;
    float: left;
    margin-left: 0px;
    border: none;
}


/* ******************************************** */


/* *******Right side table******** */

div#rt-rslt {
    position: absolute;
    display: block;
    width: 75%;
    height: 100%;
    left: 25%;
    /* background-color: yellowgreen; */
}

div#rt-content {
    width: 90%;
    height: 95%;
    /* background-color: aquamarine; */
    margin: auto;
    margin-top: 34px;
}


/* 1.  */

div#rt-rslt div.rlts-count {
    width: 100%;
    /* background-color: bisque; */
    display: inline-block;
}

div#rt-rslt div.rlts-count p {
    margin-bottom: 0px;
}

div#rt-rslt p#ttl-rlts {
    float: left;
}

div#rt-rslt p#cnfg-tb,
div#rt-rslt p#srt-by {
    float: right;
}

div#rt-rslt p#ttl-rlts {
    float: left;
    color: #00021F;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

div#rt-rslt p#cnfg-tb {
    float: right;
    color: #00021F;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: 34px;
}

div#rt-rslt p#srt-by {
    float: right;
    color: #00021F;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}


/* Expertise, People, Place, Hazard */

div.rlts-nav {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    /* background-color: cornflowerblue; */
    border-bottom: 2px solid rgba(0, 2, 31, 0.5);
}

div.rlts-nav ul {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    margin-top: 0px;
}

div.rlts-nav ul li {
    float: left;
    width: 200px;
    height: 100%;
}

div.rlts-nav ul li button.active {
    color: #00021F;
    opacity: 1;
    border-bottom: 2px solid rgba(0, 2, 31, 1);
}

div.rlts-nav ul li button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    color: #00021F;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.5;
    padding-left: 0px;
    z-index: 100;
}

div.rlts-nav ul li button:hover {
    opacity: 1;
    border-bottom: 3px solid #00021F;
    margin-top: 1px;
}

div.rlts-nav ul li img {
    padding-left: 0px;
    padding-right: 10px;
}

div.rlts-types ul li button.nav-link:hover {
    border-bottom: 2px solid #00021F;
    opacity: 1;
}


/* table display + pagination */

div.rlts-display {
    width: 100%;
    /* height: 70%; */
    height: 1300px;
    /* background-color: yellowgreen; */
    /* margin-top: 7%; */
    margin-top: 50px;
    position: relative;
}

div#pills-tabContent {
    height: 1100px;
}

div.table-container {
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

table.table-filters {
    margin-bottom: 0px;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    color: #00021F;
    letter-spacing: 0;
    font-family: sans-serif;
}

table#table-title thead {
    height: 70px;
    vertical-align: middle;
    background-color: #D9D9DE;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}


/* 
div.table-box {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 65px);
    position: absolute;
} */

#table-body {
    height: 100px;
    width: calc(100% + 5px);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

table.table-filters tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

table.table-filters tbody tr:nth-child(even) {
    background-color: #F2F2F4;
}


/* pagination */

div.rlts-pagination {
    height: 100px;
    /* margin-top: 30px; */
}

div.per-page {
    float: left;
    color: #00021F;
    font-size: 20px;
    font-weight: bold;
}

ul.pagination {
    margin-bottom: 0;
    height: 46px;
    float: right;
    margin-right: 50px;
}

ul.pagination li {
    padding-right: 20px;
    width: 46px;
    height: 46px;
    background-color: rosybrown;
    text-align: center;
    margin-right: 15px;
}

ul.pagination li a,
div.per-page {
    display: inline-block;
    line-height: 46px;
    color: #00021F;
    font-size: 20px;
    text-decoration: none;
}

ul.pagination li.active {
    background-color: white;
    font-weight: bold;
    border-radius: 23px;
}

ul.pagination li.page-item:hover:not(.active) {
    background-color: #ddd;
    border-radius: 23px;
}

button#nxt-pg {
    width: 100px;
    height: 46px;
}