#wrapper {
  /* background-color: green;  */
  text-align: center;
  padding-top: 30px;
  padding-bottom: 33px;
}

#yourdiv {
  background-color: red;
  /* for vizualization purposes */
  display: inline-block;
  margin: 0 3%;
  width: 150px;
  height: 150px;
  color: #fff;
  text-align: center;
  border-radius: 100%;
}

#yourdiv span {
  position: relative;
  top: 33%;
  font-size: 20px;
}

@media (min-width: 690px) and (max-width: 1020px) {
  #yourdiv {
    width: 120px;
    height: 120px;
  }
  #yourdiv span {
    font-size: 17px;
    top: 31%;
  }
}

@media (min-width: 545px) and (max-width: 689px) {
  #yourdiv {
    width: 100px;
    height: 100px;
  }
  #yourdiv span {
    font-size: 15px;
    top: 29%;
  }
}

/* @media (min-width: 440px) and (max-width: 544px){
  #yourdiv {
    width: 80px;
    height: 80px;
  }
  #yourdiv span{
    font-size: 12px;
    top: 24%;
  }
} */

@media (max-width: 544px) {
  #yourdiv {
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }
  #yourdiv span {
    font-size: 14px;
    top: 23%;
  }
}

/*quote css*/

.iconDetails {
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.container2 {
  width: 100%;
  height: auto;
  padding: 1%;
}

.quote p:before {
  content: "\f10d";
  font-family: 'FontAwesome';
  float: left;
  margin-right: 5px;
}

.quote p:after {
  content: "\f10e";
  font-family: 'FontAwesome';
}

.quote {
  padding: 0 10% 0 10%;
}

@media (max-width: 660px) {
  .iconDetails {
    margin-right: 2%;
  }
}

/**navMenu**/

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #4e8cbb !important;
}

.nav ul li {
  width: 100%;
}

.nav ul {
  background: #1b699e !important;
  border-radius: 0px !important;
  /* border: 2px solid #dbb105; */
}

.nav ul li a:hover {
  background: #4e8cbb !important;
  /* text-decoration: underline !important; */
  cursor: pointer;
}

.nav ul li:first-child {
  /* border-bottom: 2px solid #dbb105; */
}

@media only screen and (max-width: 789px) {
  .navbar-nav {
    margin: 0px !important
  }
  .nav ul {
    width: 100%;
    border: none;
  }
  .nav ul li {
    text-align: center;
    border: 2px solid #dbb105 !important;
  }
  .nav ul li:first-child {
    border-bottom: none !important;
  }
}

/**default btn**/

.btn-default-lp {
  background: #337ab7;
  padding: 15px 0;
  border-radius: 0px;
  font-family: 'PT Sans', Helvetica, sans-serif;
  font-weight: normal;
  text-transform: Capitalize;
  color: white;
  font-size: 15px;
  height: auto;
  border: none;
}

.btn-default-lp:hover {
  color: white;
}

/*footer css*/

.footer ul {
  list-style: none;
}

.footer .middle-one {
  padding-left: 5%;
  padding-right: 5%;
}

.footer img {
  margin: 5px 20px !important;
}

.footer .disclaimer {
  padding-top: 24%;
}

.footer-menu .container {
  padding-top: 28px;
}

.footer .powered-by {
  padding-left: 5%;
}

.footer .ld-connect-text {
  max-width: 500px;
}

.footer .social-links {
  padding-top: 5%;
}

.footer .mobile-disclaimer {
  display: none;
}

@media (max-width: 767px) {
  .footer .site-map {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .footer .site_menu li {
    padding-left: 0px;
  }
  .footer .disclaimer {
    display: none;
  }
  .footer .mobile-disclaimer {
    display: block;
  }
  .footer img {
    margin: 0px !important;
  }
  .footer .social-links {
    padding-top: 1%;
  }
  .footer ul.site_menu {
    text-align: left !important;
    padding-top: 0 !important;
  }
  .footer .left-one,
  .footer .right-one {
    padding-left: 5%;
  }
  .footer .left-one,
  .footer .middle-one,
  .footer .right-one {
    width: 100% !important;
  }
  .footer .powered-by {
    padding-left: 0;
  }
  .footer p,
  .footer ul {
    text-align: left;
  }
  .footer .ld-connect-text {
    max-width: 100%;
  }
  .footer .social-links {
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 400px) {
  .footer .site-map {
    width: 100%;
  }
  .footer .row {
    padding: 0px !important;
    margin: 0px !important;
  }
}

@media only screen and (min-width: 790px) {
  header .logo {
    max-width: 100% !important;
    margin: 4px 0 !important;
  }
}

/*text transform for placeholder*/

::-webkit-input-placeholder {
  text-transform: initial;
  font-size: 13px;
}

:-moz-placeholder {
  text-transform: initial;
  font-size: 13px;
}

::-moz-placeholder {
  text-transform: initial;
  font-size: 13px;
}

:-ms-input-placeholder {
  text-transform: initial;
  font-size: 13px;
}

input {
  text-transform: initial !important;
  font-size: 13px !important;
}

@media (max-width: 769px) {
  .download-row {
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .download-emb-col {
    padding-bottom: 10px;
  }
}