#header {
  background-color: #1b699e;
  background-image: url('../img/header-bg.png');
  color: #ffff;
  border-top: 2px solid #dbb105;
}
#header img {
  vertical-align: middle;
  margin: 10px 0;
}

@media only screen and (min-width: 790px) {
  header .logo {
    max-width: 100% !important;
    margin: 4px 0 !important;
  }
}

@media only screen and (max-width: 789px) {
  header .logo {
    max-width: 250px !important;
    margin: 6px 0 !important;
  }
}
footer .logo,
header .logo {
  display: inline-block;
  max-width: 250px;
}

footer .footer-menu,
header .header-menu {
  /*clear: both;*/
  text-align: right;
  display: inline-block;
  float: right;
  padding: 14px 0;
  font-size: 14px;
}

footer .footer-menu,
header .header-menu {
  padding: 0;
}

footer .footer-menu ul li,
header .header-menu ul li {
  list-style: none;
  padding: 0 8px;
  float: left;
}

footer a,
header a {
  color: #ffffff;
}

.container.white.round.shadow {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 85%;
  box-shadow: none;
  /* border-radius: 0; */
}

@media only screen and (min-width: 790px) {
  header .logo {
    max-width: 100% !important;
    margin: 4px 0 !important;
  }
}

@media only screen and (max-width: 789px) {
  header .logo {
    max-width: 250px !important;
    margin: 6px 0 !important;
  }
}

#footer .footer-menu ul,
#header .header-menu ul {
  float: right;
}
.skiplinks {
  display: inline-block;
  padding: 10px;
  border: #333333;
  background-color: #21a9ba;
  position: absolute;
  left: -5000em;
  z-index: 3;
}

.footer-link {
  max-width: 581px;
  margin-left: 313px;
}

.footer.container.row.right_container li {
  list-style: none;
  color: #fff;
  padding-left: 15px;
}
.footer.container.row.right_container.site_menu li {
  color: #fff;
  padding-left: 10px;
}
.footer .widget a {
  color: #fff;
}
.footer {
  background-color: #1b699e;
  color: #ffff;
}
.footer,
.header {
  position: relative;
  width: 100%
}

.footer img,
.header img {
  vertical-align: middle;
  margin: 10px 0;
}
.footer .container,
.header .container {
  display: table;
  max-width: 980px;
  padding: 0;
}
.footer-img {
  margin-left: -11px;
}
footer a:hover {
  color: #dbb105;
}
.footer-menu .container {
  padding-bottom: 28px;
}
.footer .row {
    padding-left: 9px;
  }
footer .col-sm-4 {
    width: 100%;
    clear: both;
  }
footer {
  background: #1b699e;
}

.footer.right_container li {
  list-style: none;
  color: #fff;
  padding-left: 15px;
}

.footer.right_container.site_menu li {
  color: #fff;
  padding-left: 10px;
}
ul.list {
  list-style-type: none;
}